<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ajay.android.onlinecafeteriarecharge">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AdminLogin"
            android:label="Admin" />
        <activity
            android:name=".UserLogin"
            android:label="User" />
        <activity
            android:name=".AddItem"
            android:label="Add Item" />
        <activity
            android:name=".UpdateItem"
            android:label="Update Item" />
        <activity
            android:name=".DeleteItem"
            android:label="Delete Item" />
        <activity
            android:name=".Feedback"
            android:label="Feedback" />
        <activity
            android:name=".ContactUs"
            android:label="Contact Us" />
        <activity
            android:name=".AboutUs"
            android:label="About Us" />
        <activity android:name=".MyCard" />
        <activity android:name=".Recharge"></activity>
    </application>

</manifest>